*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans', sans-serif;
    
  }
  
  body{
    background-color: #19283A;
  
  }

  .navbar{
    background-color: transparent;
  }
  
  .navbar.colorChange{
    background-color: #3C4A5A;
    transition: all 0.4s ease-in-out;
  }